body {
  padding-top: 50px;
}
.starter-template {
    /*position: absolute;*/
    /*padding: 40px 15px;*/
    text-align: center;
    /*vertical-align: middle;*/
    /*margin-bottom: 20px;*/
    /*padding-bottom: 18px;*/
    overflow: hidden;
}