<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Starter Template for Bootstrap</title>


    <!--JavaScript-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../static/bootstrap-3.2.0-dist/js/bootstrap.min.js"></script>
    <!--<script src="../static/js/sigma.min.js"></script>-->
    <script src="../static/vis-dist/vis.min.js"></script>
    <script src="../static/d3.min.js"></script>
    <!--<script src="../static/jqcloud/jqcloud-1.0.4.min.js"></script>-->

    <script type=text/javascript>
        $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
    </script>
    <script src="../static/js/kg.js"></script>

    <!-- CSS -->
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/bootstrap-3.2.0-dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/starter-template.css" rel="stylesheet">
    <link href="../static/vis-dist/vis.min.css" rel="stylesheet">
    <link href="../static/octicons/octicons.css" rel="stylesheet">
    <link href="../static/css/style.css" rel="stylesheet">
</head>


<body>

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">KnowGit</a>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="http://slides.com/yuchsiao/knowgit#/" target="_blank">Slides</a></li>
                <li><a href="http://www.mit.edu/~yuchsiao/#project" target="_blank">Projects</a></li>
                <li><a href="about">About</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>

<!--<br>-->
<br>

<div id="contact-container">
    <p>
        Interesting? Find out more!
    </p>
    <table>
        <tr>
            <td class="left"><i class="fa fa-github-square fa-lg"></i></td>
            <td class="right" ><a href="https://github.com/yuchsiao">GitHub</a></td>
        </tr>
        <tr>
            <td class="left"><i class="fa fa-linkedin-square fa-lg"></i></td>
            <td class="right" ><a href="https://www.linkedin.com/in/yuchsiao">LinkedIn</a></td>
        </tr>
        <tr>
            <td class="left"><i class="fa fa-globe fa-lg"></i></td>
            <td class="right"><a href="http://www.mit.edu/~yuchsiao/">Website</a></td>
        </tr>
        <tr>
            <td class="left"><i class="fa fa-envelope fa-lg"></i></td>
            <td class="right" id="email">yuchsiao<br></td>
        </tr>
    </table>
</div>



</body>
</html>
